<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>简介</key>
		<array>
			<dict>
				<key>title</key>
				<string>swift简介</string>
				<key>type</key>
				<integer>2</integer>
				<key>data</key>
				<string>http://www.swift51.com/swift4.0/chapter1/01_swift.html</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>语法</key>
		<array>
			<dict>
				<key>title</key>
				<string>基础部分</string>
				<key>type</key>
				<integer>2</integer>
				<key>data</key>
				<string>http://www.swift51.com/swift4.0/chapter2/01_The_Basics.html</string>
			</dict>
			<dict>
				<key>title</key>
				<string>基本运算符</string>
				<key>type</key>
				<integer>2</integer>
				<key>data</key>
				<string>http://www.swift51.com/swift4.0/chapter2/02_Basic_Operators.html</string>
			</dict>
			<dict>
				<key>title</key>
				<string>字符串和字符</string>
				<key>type</key>
				<integer>2</integer>
				<key>data</key>
				<string>http://www.swift51.com/swift4.0/chapter2/03_Strings_and_Characters.html</string>
			</dict>
			<dict>
				<key>title</key>
				<string>集合类型</string>
				<key>type</key>
				<integer>2</integer>
				<key>data</key>
				<string>http://www.swift51.com/swift4.0/chapter2/04_Collection_Types.html</string>
			</dict>
			<dict>
				<key>title</key>
				<string>控制流</string>
				<key>type</key>
				<integer>2</integer>
				<key>data</key>
				<string>http://www.swift51.com/swift4.0/chapter2/05_Control_Flow.html</string>
			</dict>
			<dict>
				<key>title</key>
				<string>函数</string>
				<key>type</key>
				<integer>2</integer>
				<key>data</key>
				<string>http://www.swift51.com/swift4.0/chapter2/06_Functions.html</string>
			</dict>
			<dict>
				<key>title</key>
				<string>闭包</string>
				<key>type</key>
				<integer>2</integer>
				<key>data</key>
				<string>http://www.swift51.com/swift4.0/chapter2/07_Closures.html</string>
			</dict>
			<dict>
				<key>title</key>
				<string>枚举</string>
				<key>type</key>
				<integer>2</integer>
				<key>data</key>
				<string>http://www.swift51.com/swift4.0/chapter2/08_Enumerations.html</string>
			</dict>
			<dict>
				<key>title</key>
				<string>类和结构体</string>
				<key>type</key>
				<integer>2</integer>
				<key>data</key>
				<string>http://www.swift51.com/swift4.0/chapter2/09_Classes_and_Structures.html</string>
			</dict>
			<dict>
				<key>title</key>
				<string>属性</string>
				<key>type</key>
				<integer>2</integer>
				<key>data</key>
				<string>http://www.swift51.com/swift4.0/chapter2/10_Properties.html</string>
			</dict>
			<dict>
				<key>title</key>
				<string>方法</string>
				<key>type</key>
				<integer>2</integer>
				<key>data</key>
				<string>http://www.swift51.com/swift4.0/chapter2/11_Methods.html</string>
			</dict>
			<dict>
				<key>title</key>
				<string>下标</string>
				<key>type</key>
				<integer>2</integer>
				<key>data</key>
				<string>http://www.swift51.com/swift4.0/chapter2/12_Subscripts.html</string>
			</dict>
			<dict>
				<key>title</key>
				<string>继承</string>
				<key>type</key>
				<integer>2</integer>
				<key>data</key>
				<string>http://www.swift51.com/swift4.0/chapter2/13_Inheritance.html</string>
			</dict>
			<dict>
				<key>title</key>
				<string>构造过程</string>
				<key>type</key>
				<integer>2</integer>
				<key>data</key>
				<string>http://www.swift51.com/swift4.0/chapter2/14_Initialization.html</string>
			</dict>
			<dict>
				<key>title</key>
				<string>析构过程</string>
				<key>type</key>
				<integer>2</integer>
				<key>data</key>
				<string>http://www.swift51.com/swift4.0/chapter2/15_Deinitialization.html</string>
			</dict>
			<dict>
				<key>title</key>
				<string>自动引用计数</string>
				<key>type</key>
				<integer>2</integer>
				<key>data</key>
				<string>http://www.swift51.com/swift4.0/chapter2/16_Automatic_Reference_Counting.html</string>
			</dict>
			<dict>
				<key>title</key>
				<string>可选链式调用</string>
				<key>type</key>
				<integer>2</integer>
				<key>data</key>
				<string>http://www.swift51.com/swift4.0/chapter2/17_Optional_Chaining.html</string>
			</dict>
			<dict>
				<key>title</key>
				<string>错误处理</string>
				<key>type</key>
				<integer>2</integer>
				<key>data</key>
				<string>http://www.swift51.com/swift4.0/chapter2/18_Error_Handling.html</string>
			</dict>
			<dict>
				<key>title</key>
				<string>类型转换</string>
				<key>type</key>
				<integer>2</integer>
				<key>data</key>
				<string>http://www.swift51.com/swift4.0/chapter2/19_Type_Casting.html</string>
			</dict>
			<dict>
				<key>title</key>
				<string>嵌套类型</string>
				<key>type</key>
				<integer>2</integer>
				<key>data</key>
				<string>http://www.swift51.com/swift4.0/chapter2/20_Nested_Types.html</string>
			</dict>
			<dict>
				<key>title</key>
				<string>扩展</string>
				<key>type</key>
				<integer>2</integer>
				<key>data</key>
				<string>http://www.swift51.com/swift4.0/chapter2/21_Extensions.html</string>
			</dict>
			<dict>
				<key>title</key>
				<string>协议</string>
				<key>type</key>
				<integer>2</integer>
				<key>data</key>
				<string>http://www.swift51.com/swift4.0/chapter2/22_Protocols.html</string>
			</dict>
			<dict>
				<key>title</key>
				<string>泛型</string>
				<key>type</key>
				<integer>2</integer>
				<key>data</key>
				<string>http://www.swift51.com/swift4.0/chapter2/23_Generics.html</string>
			</dict>
			<dict>
				<key>title</key>
				<string>内存安全</string>
				<key>type</key>
				<integer>2</integer>
				<key>data</key>
				<string>http://www.swift51.com/swift4.0/chapter2/24_Memory_Safe.html</string>
			</dict>
			<dict>
				<key>title</key>
				<string>访问控制</string>
				<key>type</key>
				<integer>2</integer>
				<key>data</key>
				<string>http://www.swift51.com/swift4.0/chapter2/24_Access_Control.html</string>
			</dict>
			<dict>
				<key>title</key>
				<string>高级运算符</string>
				<key>type</key>
				<integer>2</integer>
				<key>data</key>
				<string>http://www.swift51.com/swift4.0/chapter2/25_Advanced_Operators.html</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>UI</key>
		<array>
			<dict>
				<key>title</key>
				<string>UILabel</string>
				<key>type</key>
				<integer>1</integer>
				<key>data</key>
				<string>QXLabelVC</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Test</string>
				<key>type</key>
				<integer>2</integer>
				<key>data</key>
				<string>https://www.pgyer.com/app/publish</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
