<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>数据存储</key>
		<array>
			<dict>
				<key>title</key>
				<string>CoreData</string>
				<key>type</key>
				<integer>2</integer>
				<key>data</key>
				<string>https://www.jianshu.com/p/3e793fca6a13</string>
			</dict>
			<dict>
				<key>title</key>
				<string>FMDB</string>
				<key>type</key>
				<integer>2</integer>
				<key>data</key>
				<string>https://www.cnblogs.com/seeworld/p/6680768.html</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Realm</string>
				<key>type</key>
				<integer>2</integer>
				<key>data</key>
				<string>https://www.jianshu.com/p/f415d07bc446</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>其他</key>
		<array>
			<dict>
				<key>title</key>
				<string>多线程</string>
				<key>type</key>
				<integer>4</integer>
				<key>data</key>
				<array>
					<dict>
						<key>title</key>
						<string>简介</string>
						<key>type</key>
						<integer>5</integer>
						<key>data</key>
						<string>线程</string>
					</dict>
					<dict>
						<key>title</key>
						<string>Pthreads</string>
						<key>type</key>
						<integer>2</integer>
						<key>data</key>
						<string>https://www.cnblogs.com/blueclue/archive/2010/07/16/1779006.html</string>
					</dict>
					<dict>
						<key>title</key>
						<string>NSThread</string>
						<key>type</key>
						<integer>2</integer>
						<key>data</key>
						<string>https://www.jianshu.com/p/686dbf4bbb52</string>
					</dict>
					<dict>
						<key>title</key>
						<string>NSOperation</string>
						<key>type</key>
						<integer>2</integer>
						<key>data</key>
						<string>https://www.cnblogs.com/Jepson1218/p/5180915.html</string>
					</dict>
					<dict>
						<key>title</key>
						<string>GCD</string>
						<key>type</key>
						<integer>2</integer>
						<key>data</key>
						<string>https://www.cnblogs.com/allencelee/p/6023213.html</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>蓝牙</string>
				<key>type</key>
				<string>0</string>
				<key>data</key>
				<string>Bluetooth</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
